.appbar_bg{
  background-color: #12372A;
}
.logo {
  width: 10%;
  height: auto;
  opacity: 0.8;
  margin-top: 0.5%;
  /* border: 1px solid red; */
}
.fg {
  flex-grow: 1;
}
.bticon {
  padding: 5px;
}
